/* Hide unused sections, where removal through the hooks creates too much overhead */
/* hide StartupSection */
p.ilStartupSection, .ilContentFixed button, .breadcrumbs, .nav.il-maincontrols,
.osdNotificationContainer, .ilInfoScreenSec .il_InfoScreenPropertyValue a[href="#"] {
	display: none;
}

/* Modify the grid to make it work without the breadcrumbs, ...otherwise it looks ugly */
.il-layout-page {
	grid-template-rows: 60px auto 0px 1fr;
}

@media only screen and (max-width: 768px) {
	.il-layout-page {
    	grid-template-rows: 45px auto 1fr;
	}
}

/* Using a fixed MainHeader with an user image and some options in kioskmode a kioskOption header */
.header-inner, footer {
	background-color: #003311;
	color: #fff;
}

.header-inner .glyphicon {
	filter: initial;	
}

.il-maincontrols-metabar > li > .btn-bulky .glyphicon,
.il-maincontrols-metabar > li > .link-bulky .glyphicon {
	color: #fff;
}

.header-inner .il-logo, .header-inner .il-pagetitle {
	width: 100%;	
}

.header-inner .il-pagetitle {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	color: #fff;
}

.il-metabar-slates {
	color: initial;
}

/* Forbidden Message */
div.sebForbiddenContent {
	margin-top : 10%;
	text-align : center;
}

div.sebForbiddenLogo {
	display: block;
	background-image : url(../images/seb_logo_big.png);
	background-repeat: no-repeat;
	background-position: center;
	padding : 64px;
}

div.sebForbiddenHeader, div.sebForbiddenMessage,div.sebForbiddenLogin {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

div.sebForbiddenHeader {
	font-size: 120%;
}

div.sebForbiddenMessage {
	font-size: 100%;
	margin-top: 20pt;
}

div.sebForbiddenLogin {
	font-size: 100%;
	margin-top: 20pt;
}