/* Hide unused sections, where removal through the hooks creates too much overhead */
/* hide StartupSection */
p.ilStartupSection {
	display:none;
}

/* hide Footer */
footer#ilFooter {
	display:none;
}

/* hide TreeView */
.ilTreeView {
	display: none;
}

.ilContentFixed button {
	display: none;
}

.ilInfoScreenSec .il_InfoScreenPropertyValue a[href="#"] {
	display: none;
}

/* Using a fixed MainHeader with an user image and some options in kioskmode a kioskOption header */
#ilAll > div#kioskOptions, #ilAll >  div.ilMainHeader, #ilAll > div.ilMainheader.ilTopFixed {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 112px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	border-top: 0px;
	border-bottom: 0 solid #fff;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #661616;
	color: white;
	z-index: 1000;
	box-shadow: 0 8px 6px -6px black;
}

#sebUsrImg {
	float: right;
}

#sebUsrImg img {
	height: 100px;
	margin: 6px 0;
}

#sebBrand img {
	height: 92px;
	width: 100px;
	margin: 6px 0;
	position: relative;
	display: inline-block;
}

#sebUsrImg, #sebBrand {
	position: relative;
	z-index: 100;
	margin: 0;
	height: auto;
	display: inline-block;
	padding: 0;
}

#ilAll .ilMainHeader > header > .row > a.navbar-brand > img {
	height: 92px;
	width: 100px;
	margin: 6px 0;
	position: relative;
}

#sebLangSelect {
	background: #fff;
}

#sebLangSelect ul {
	width: 100%;
	text-align: center;
	background-color: transparent;
	padding: 0px;
	left: 0px;
}

#sebLangSelect li {
    width: 160px;
    margin: 0 auto;
    background: #fff;
}

#mm_lang_sel {
	color: #661616;
	text-decoration: none;
}

div#il_startup_logo.row {
	height: 52px;
	padding: 0;
	margin-right:0;
	margin-left:0;
}

#sebTestInfo {
	position: absolute;
	width: 100%;
	left: 0;
}

#kioskParticipant, #kioskExamID, #kioskTestTitle, #sebLangSelect {
	width: 100%;
	text-align: center;
}

#sebLogoutLink {
    color: #F69696;
}

/* Login Section */

div#mainspacekeeper.container {
	margin-top: 0px;
	padding-top: 70px;
}

/* Some tweaks for the test */
form[name="listofquestions"], body.kiosk #tst_output {
	position: absolute;
	top: 95px;
	width: 100%;
}

#ilAll > div.alert {
	position: absolute;
	top: 32px;
	border: 1px solid transparent;
	border-radius: 0px;
	left: 2px;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 1px;
	width: 100%;
}

#tst_left {
    position: relative;
    left: 0px;
    top: 0px;
    float: left;
    width: 19%;
    background-color: white;
    box-shadow: 1px 1px 3px 0 #c6c6c6;
    border-bottom: 1px solid #f0f0f0;
}

#tst_left > div > .panel-body {
    background-color: white;
    font-size: 120%;
}

#tst_right {
	box-shadow: -1px 1px 3px 0 #c6c6c6;
	border-bottom: 1px solid #f0f0f0;
}

div.ilTstQuestionSummaryBlock_WorkingTime, div.ilTstWorkingFormBlock_WorkingTime {
	width: 100%;
	position: initial;
	margin-left: 0px;
	padding-left: 30px;
	left: 0px;
	background-color: #F0F0F0;
	text-align: center;
	font-size: 1.1rem;
}

div.ilTstWorkingFormInfo_ProcessTimeLeft {
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
}

body.kioskWithCharSelector #ilCharSelectorPanel, body.kiosk #ilCharSelectorPanel {
	top: 85px;
}

div.questionPrintview {
	background-color: white;
}

input.ilTstMarkQuestionButton {
	margin-left: 10px;
}

/* Forbidden Message */
div.sebForbiddenContent {
	margin-top : 10%;
	text-align : center;
}

div.sebForbiddenLogo {
	display: block;
	background-image : url(../images/seb_logo_big.png);
	background-repeat: no-repeat;
	background-position: center;
	padding : 64px;
}

div.sebForbiddenHeader, div.sebForbiddenMessage,div.sebForbiddenLogin {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

div.sebForbiddenHeader {
	font-size: 120%;
}

div.sebForbiddenMessage {
	font-size: 100%;
	margin-top: 20pt;
}

div.sebForbiddenLogin {
	font-size: 100%;
	margin-top: 20pt;
}

/* Some basic tweaks */
body {
	background-color: #F0F0F0;
}

body.std {
	background-color: #F0F0F0;
}

#ilAll .ilFixedTopSpacer {
    padding-top: 117px;
}

form[name="formInfoScreen"] * {
	background-color: #F0F0F0;
}

.ilInfoScreenSec.form-horizontal .form-group {
	background-color: #F0F0F0;;
}

.ilToolbar.navbar {
	background-color: #F0F0F0;
	margin-bottom: 0px;
}

#ilAll > .ilMainHeader.ilTopFixed {
	top: 0px;
}

div.ilStartupSection p,  div.ilStartupSection p a {
	font-size: 110% !important;
}

div.ilStartupSection > form {
	box-shadow: 0 3px 3px 0 #c6c6c6;
	padding: 5px;
}

div.ilStartupSection > form .ilFormHeader {
	background-color: white;
}