.il-logo  a:first-child {
	align-self: flex-start;
}
.il-logo img {
	height: 130px;
	position: relative;
	top: 35px;
}

div.il_HeaderInner.media {
    padding-left: 160px;
}

.il-system-info-content {
	padding-left: 150px;
}

@media only screen and (max-width: 768px) {
	.il-logo img {
		height: initial;
		min-height: 45px;
		min-width: 45px;
	}
	.visible-xs {
		height: 120px;
		width: 120px;
	}
	
	.il-pagetitle {
		padding-left: 0;
	}
}