<!DOCTYPE html>
<html>
<head>
	<title>SEB Forbidden</title>
	<link rel='stylesheet' type='text/css' href='Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/SEB/templates/default/seb.css' media='screen'>
</head>
<body>
<!-- BEGIN seb_forbidden_message -->
<div class="sebForbiddenContent">
	<div class="sebForbiddenLogo">&nbsp;</div>
	<div class="sebForbiddenHeader">{SEB_FORBIDDEN_HEADER}</div>
	<div class="sebForbiddenMessage">{SEB_FORBIDDEN_MESSAGE}</div>
	<div class="sebForbiddenLogin"><a href='{SEB_LOGIN_LINK}'>{SEB_LOGIN_LINK_TEXT}</a></div>
</div>
<!-- END seb_forbidden_message -->
</body>
</html>